body {
    background-color: #FAFAFA;
}




@media only screen and (min-width: 492px) {
    .card {
        width: 30rem
    }
}


@media only screen and (max-width: 492px) {
    .card {
        width: 24rem
    }
}